### Collate the Data into a DF

In [1]:
import pandas as pd
import os

In [2]:
res = []
for r, d, f in os.walk(os.getcwd()):
    d[:] = [dirs for dirs in d if dirs not in ".ipynb_checkpoints"]
    for file in f:
        if (".ipynb" not in file) and (".DS_Store" not in file) and (".csv" not in file):
            res.append(pd.read_json(os.path.join(r, file)))

In [3]:
fin_dat = pd.concat(res)

In [4]:
fin_dat.head()

   pc_id                   PCName      lat      lng   Block       GP District
0  23883   प्राथमिक पाठशालासीहपुर  27.0077  79.7619  कन्नौज   सीहपुर   कन्नौज
1  23884     प्राथमिक पाठशालापचोर  27.0175  79.7739  कन्नौज     पचोर   कन्नौज
2  23885    प्राथमिक पाठशालासतौरा  27.1042  79.8167  कन्नौज    सतौरा   कन्नौज
3  23886  प्राथमिक पाठशालागदनापुर  27.0107  79.7278  कन्नौज  गदनापुर   कन्नौज
4  23887     प्राथमिक पाठशालागोवा  27.0289  79.7381  कन्नौज     गोवा   कन्नौज

In [5]:
fin_dat.shape

(67484, 7)

In [6]:
fin_dat.to_csv("up_polling_center_block_gp_district.csv")